# --- Spring Core ---
SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://mysql:3306/deepdive?serverTimezone=Asia/Seoul&characterEncoding=UTF-8

# --- Application ---
LIB_LOG_LEVEL=DEBUG
APP_LOG_LEVEL=INFO

# --- Web Starter (prefix 'web') ---
WEB_ALLOWED_ORIGINS=*
WEB_RESPONSE_FILTER_PREFIXES=com.example
