# --- Application Secrets ---
DB_USERNAME=root
DB_PASSWORD=root1234

# --- Security Starter (prefix 'security') ---
SECURITY_JWT_SECRET=your-super-secret-key-at-least-256-bits-long-for-hmac-sha256
SECURITY_JWT_EXPIRATION_TIME=900000
SECURITY_JWT_REFRESH_EXPIRATION_TIME=7200000

# --- Container Secrets ---
MYSQL_ROOT_PASSWORD=root1234
MYSQL_ROOT_HOST=%
MYSQL_DATABASE=