<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- Load Default Spring Boot Logback -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Properties (variable) -->
    <property name="LOG_HOSTNAME" value="${HOSTNAME:-localhost}" />
    <property name="LOG_PID" value="${PID:-unknown}" />

    <!-- Text Console Logging Pattern -->
    <property name="CONSOLE_TEXT_PATTERN" 
              value="%clr([%8.8t]){faint} %clr(---){faint} %clr([%X{traceId:-SYSTEM}]){faint} %clr(%-30.30(%logger{0}:%L)){cyan} %clr(%5p) %m %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <!-- Text Console Appender -->
    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_TEXT_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- JSON Console Appender -->
    <!-- !Required: net.logstash.logback:logstash-logback-encoder -->
    <!-- MDC에 담긴 모든 정보(timestamp, traceId 등)가 자동으로 JSON 필드에 포함됩니다. -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- JSON File Appender for local -->
    <!-- !Required: net.logstash.logback:logstash-logback-encoder -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-log.json</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Timestamp -->
                <timestamp>
                    <timeZone>Asia/Seoul</timeZone>
                </timestamp>

                <!-- Log Main Fields -->
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>parentSpanId</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>elapsedTime</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>totalElapsedTime</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>status</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>method</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>uri</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>params</includeMdcKeyName>
                </mdc>

                <!-- Log Meatdata -->
                <logLevel/>
                <logLevelValue/>
                <loggerName/>
                <message/>

                <!-- Host Metadata -->
                <globalCustomFields>
                    <customFields>
                        {
                            "hostname": "${LOG_HOSTNAME}",
                            "pid": "${LOG_PID}"
                        }
                    </customFields>
                </globalCustomFields>
                <threadName/>

                <!-- Remain MDC -->
                <mdc>
                    <includeMdcKeyName>errorCode</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>exceptionClass</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>stackTrace</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>headers</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>payload</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>clientIp</includeMdcKeyName>
                </mdc>
                <mdc>
                    <includeMdcKeyName>userAgent</includeMdcKeyName>
                </mdc>

                <!-- !Stacktrace Included in MDC-->
            </providers>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-log-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>
</included>
